<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
 @keyframes floating {
    from {
        transform: translateY(0px);
   }
    65% {
        transform: translateY(15px);
   }
    to {
        transform: translateY(0px);
   }
}
html {
    height: 100%;
}

.mars{
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    height: 27vmin;
    background: url('https://assets.codepen.io/1538474/mars.svg') no-repeat bottom center;
    background-size: cover;
  }
body{
    background-image: url('https://assets.codepen.io/1538474/star.svg'),linear-gradient(to bottom, #05007A, #4D007D);
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    overflow: hidden;
  }
.logo-404 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 16vmin;
    width: 30vmin;
}
@media (max-width: 480px) and (min-width: 320px) {
    .logo-404 {
        top: 45vmin;
   }
}
.meteor {
    position: absolute;
    right: 2vmin;
    top: 16vmin;
}
.title {
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 5vmin;
    margin-top: 31vmin;
}
@media (max-width: 480px) and (min-width: 320px) {
    .title {
        margin-top: 65vmin;
   }
}
.subtitle {
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 3.5vmin;
    margin-top: -1vmin;
    margin-bottom: 9vmin;
}
.btn-back {
    border: 1px solid white;
    color: white;
    height: 5vmin;
    padding: 12px;
    text-decoration: none;
    border-radius: 5px;
}
.btn-back:hover {
    background: white;
    color: #4d007d;
}
@media (max-width: 480px) and (min-width: 320px) {
    .btn-back {
        font-size: 3.5vmin;
   }
}
.astronaut {
    position: absolute;
    top: 18vmin;
    left: 10vmin;
    height: 30vmin;
    animation: floating 3s infinite ease-in-out;
}
@media (max-width: 480px) and (min-width: 320px) {
    .astronaut {
        top: 2vmin;
   }
}
.spaceship {
    position: absolute;
    bottom: 15vmin;
    right: 24vmin;
}
@media (max-width: 480px) and (min-width: 320px) {
    .spaceship {
        width: 45vmin;
        bottom: 18vmin;
   }
}

  </style>
  <body>
    <div class="mars"></div>
<img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
<img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
<p class="title">Oh no!!</p>
<p class="subtitle">
	You’re either misspelling the URL <br /> or requesting a page that's no longer here.
</p>
<div align="center">
	<a class="btn-back" href="/contacts">Back to previous page</a>
</div>
<img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
<img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>